.cardwidth {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  transition: 0.3s;
  margin-bottom: 20px;
  margin-top: 50px;
  background-color: #ffffff;
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.spacing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.spacing1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.formwidth {
  width: 100%;
}

h1 {
  font-size: 1.8rem;
  font-weight: 500;
  color: #3f51b5;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 16px;
  width: 90%;
  padding-bottom: 16px;
}

.spacingone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.dropzone {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.dropzone-text {
  width: 100%;
}

.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
 .row{
   display: grid;
   grid-template-columns: repeat(1, 1fr);
 }
 .spacing{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
 }
 .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 16px;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
 .row{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
 }
  .spacing{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
 }
}
