<div class="cards">
  <mat-card class="cardwidth">
    <h1>Sub-Category Details</h1>

    <div class="spacing">
      <mat-form-field appearance="outline" class="formwidth">
        <mat-label>Sub-Category Code *</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="formwidth">
        <mat-label>Sub-Category Description *</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
    </div>

    <div class="spacing">
      <mat-form-field appearance="outline" class="formwidth">
        <mat-label>Category Code *</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="formwidth">
        <mat-label>Member Minimum Age *</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
    </div>

    <div class="spacing">
      <mat-form-field appearance="outline" class="formwidth">
        <mat-label>Credit Limit Amount</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="formwidth">
        <mat-label>Validity In Months</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
    </div>

    <div class="spacing">
      <div class="spacing1">
        <mat-form-field appearance="outline" class="formwidth">
          <mat-label>Renew No. of Times</mat-label>
          <input matInput placeholder="Placeholder" />
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" (click)="openDialog()">
            Additional Info
          </button>
        </div>
      </div>
      <mat-form-field appearance="outline" class="formwidth">
        <mat-label>Maximum Dependent</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
    </div>

    <div class="spacing">
      <mat-form-field appearance="outline" class="formwidth">
        <mat-label>Dependent Minimum Age</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="formwidth">
        <mat-label>Maximum Dependent</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
    </div>

    <div class="spacing">
      <mat-form-field appearance="outline" class="formwidth">
        <mat-label>Dependent Maximum Age</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="formwidth">
        <mat-label>Consideration limit for the month.</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
    </div>

    <div class="spacing">
      <mat-form-field appearance="outline" class="formwidth">
        <mat-label>Consideration limit for the month.</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="formwidth">
        <mat-label>Billing Basis *</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
    </div>

    <div class="spacing">
      <mat-form-field appearance="outline" class="formwidth">
        <mat-label>Member Code Generate</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="formwidth">
        <mat-label>Open To Sale</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
    </div>
  </mat-card>
</div>
