<div class="cards">
  <mat-card class="cardwidth">
    <h1>Sub-Category Details</h1>
    
    <div class="spacing">
      <mat-form-field appearance="outline" class="formwidth">
        <mat-label>Sub-Category Code *</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="formwidth">
        <mat-label>Sub-Category Description *</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
    </div>

    <div class="spacing">
      <mat-form-field appearance="outline" class="formwidth">
        <mat-label>Category Code *</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="formwidth">
        <mat-label>Member Minimum Age *</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
    </div>

    <div class="spacing">
      <mat-form-field appearance="outline" class="formwidth1">
        <mat-label>Credit Limit Amount</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
 
    
    </div>


    
  </mat-card>
</div>

