<div class="cards">
  <mat-card class="cardwidth">
    <h1>Sub-Category Strength</h1>
    <div class="toggleswitch">
    <mat-slide-toggle
      class="example-margin"
      [color]="color"
      [checked]="checked"
      [disabled]="disabled"
    >
      Netflix
    </mat-slide-toggle>
    <mat-slide-toggle
      class="example-margin"
      [color]="color"
      [checked]="checked"
      [disabled]="disabled"
    >
      Amazon
    </mat-slide-toggle>
    <mat-slide-toggle
      class="example-margin"
      [color]="color"
      [checked]="checked"
      [disabled]="disabled"
    >
      Monthly Subscription
    </mat-slide-toggle>
    <mat-slide-toggle
      class="example-margin"
      [color]="color"
      [checked]="checked"
      [disabled]="disabled"
    >
      Monthly Subscription YOS
    </mat-slide-toggle>
    <mat-slide-toggle
      class="example-margin"
      [color]="color"
      [checked]="checked"
      [disabled]="disabled"
    >
      Monthly Subscription BOA
    </mat-slide-toggle>
    </div>
  </mat-card>
  
</div>
